obj/Debug/net8.0-windows/refint/AfrrCollector.dll
bin/Debug/net8.0-windows/AfrrCollector.deps.json
bin/Debug/net8.0-windows/AfrrCollector.dll
bin/Debug/net8.0-windows/AfrrCollector.exe
bin/Debug/net8.0-windows/AfrrCollector.pdb
bin/Debug/net8.0-windows/AfrrCollector.runtimeconfig.json
bin/Debug/net8.0-windows/HtmlAgilityPack.dll
bin/Debug/net8.0-windows/Microsoft.Data.Sqlite.dll
bin/Debug/net8.0-windows/OxyPlot.dll
bin/Debug/net8.0-windows/OxyPlot.Wpf.dll
bin/Debug/net8.0-windows/OxyPlot.Wpf.Shared.dll
bin/Debug/net8.0-windows/SQLitePCLRaw.batteries_v2.dll
bin/Debug/net8.0-windows/SQLitePCLRaw.core.dll
bin/Debug/net8.0-windows/SQLitePCLRaw.provider.e_sqlite3.dll
bin/Debug/net8.0-windows/runtimes/browser-wasm/nativeassets/net8.0/e_sqlite3.a
bin/Debug/net8.0-windows/runtimes/linux-arm/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/linux-armel/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/linux-mips64/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/linux-musl-arm/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/linux-musl-arm64/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/linux-ppc64le/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/linux-s390x/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/linux-x64/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/linux-x86/native/libe_sqlite3.so
bin/Debug/net8.0-windows/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
bin/Debug/net8.0-windows/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
bin/Debug/net8.0-windows/runtimes/osx-arm64/native/libe_sqlite3.dylib
bin/Debug/net8.0-windows/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Debug/net8.0-windows/runtimes/win-arm/native/e_sqlite3.dll
bin/Debug/net8.0-windows/runtimes/win-arm64/native/e_sqlite3.dll
bin/Debug/net8.0-windows/runtimes/win-x64/native/e_sqlite3.dll
bin/Debug/net8.0-windows/runtimes/win-x86/native/e_sqlite3.dll
obj/aFRR-Data-Collector.csproj.nuget.dgspec.json
obj/aFRR-Data-Collector.csproj.nuget.g.props
obj/aFRR-Data-Collector.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0-windows/aFRR-Dat.0A83DA9F.Up2Date
obj/Debug/net8.0-windows/aFRR-Data-Collector.AssemblyInfo.cs
obj/Debug/net8.0-windows/aFRR-Data-Collector.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/aFRR-Data-Collector.assets.cache
obj/Debug/net8.0-windows/aFRR-Data-Collector.csproj.AssemblyReference.cache
obj/Debug/net8.0-windows/aFRR-Data-Collector.csproj.CoreCompileInputs.cache
obj/Debug/net8.0-windows/aFRR-Data-Collector.csproj.FileListAbsolute.txt
obj/Debug/net8.0-windows/aFRR-Data-Collector.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/aFRR-Data-Collector.genruntimeconfig.cache
obj/Debug/net8.0-windows/aFRR-Data-Collector.GlobalUsings.g.cs
obj/Debug/net8.0-windows/aFRR-Data-Collector.sourcelink.json
obj/Debug/net8.0-windows/AfrrCollector_MarkupCompile.cache
obj/Debug/net8.0-windows/AfrrCollector.dll
obj/Debug/net8.0-windows/AfrrCollector.g.resources
obj/Debug/net8.0-windows/AfrrCollector.pdb
obj/Debug/net8.0-windows/App.g.cs
obj/Debug/net8.0-windows/apphost.exe
obj/Debug/net8.0-windows/MainWindow.baml
obj/Debug/net8.0-windows/MainWindow.g.cs
obj/Debug/net8.0-windows/ref/AfrrCollector.dll
bin/Debug/net8.0-windows/afrr-data.db
