*.dll
*.json
*.so
*.dylib
*.probs
*.cache
*.targets
*.txt
*.exe

obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0-windows/aFRR-Dat.0A83DA9F.Up2Date
obj/Debug/net8.0-windows/aFRR-Data-Collector.AssemblyInfo.cs
obj/Debug/net8.0-windows/aFRR-Data-Collector.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/aFRR-Data-Collector.GlobalUsings.g.cs
obj/Debug/net8.0-windows/AfrrCollector.g.resources
obj/Debug/net8.0-windows/AfrrCollector.pdb
obj/Debug/net8.0-windows/App.g.cs
obj/Debug/net8.0-windows/MainWindow.baml
obj/Debug/net8.0-windows/MainWindow.g.cs
bin/Debug/net8.0-windows/afrr-data.db
bin/Debug/net8.0-windows/AfrrCollector.pdb
bin/Debug/net8.0-windows/runtimes/browser-wasm/nativeassets/net8.0/e_sqlite3.a
obj/aFRR-Data-Collector.csproj.nuget.g.props
obj/Debug/net8.0-windows/win-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0-windows/win-x64/aFRR-Dat.0A83DA9F.Up2Date
obj/Debug/net8.0-windows/win-x64/aFRR-Data-Collector.AssemblyInfo.cs
obj/Debug/net8.0-windows/win-x64/aFRR-Data-Collector.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/win-x64/aFRR-Data-Collector.GlobalUsings.g.cs
obj/Debug/net8.0-windows/win-x64/AfrrCollector.g.resources
obj/Debug/net8.0-windows/win-x64/App.g.cs
obj/Debug/net8.0-windows/win-x64/MainWindow.baml
obj/Debug/net8.0-windows/win-x64/MainWindow.g.cs
obj/Release/net8.0-windows/win-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Release/net8.0-windows/win-x64/aFRR-Dat.0A83DA9F.Up2Date
obj/Release/net8.0-windows/win-x64/aFRR-Data-Collector.AssemblyInfo.cs
obj/Release/net8.0-windows/win-x64/aFRR-Data-Collector.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net8.0-windows/win-x64/aFRR-Data-Collector.GlobalUsings.g.cs
obj/Release/net8.0-windows/win-x64/AfrrCollector.g.resources
obj/Release/net8.0-windows/win-x64/App.g.cs
obj/Release/net8.0-windows/win-x64/MainWindow.baml
obj/Release/net8.0-windows/win-x64/MainWindow.g.cs
